[submodule "game/3rdparty/glfw"]
	path = game/3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "game/3rdparty/glm"]
	path = game/3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "game/3rdparty/json"]
	path = game/3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "game/muslots"]
	path = game/muslots
	url = https://github.com/0xf00ff00f/muslots
